<form>
    <div class="text-bg-secondary rounded-5 p-5 m-3 ">
      <h1 class="text-center mb-5">Cálculo de IMC</h1>
      <div class="row">
        <div class="col-sm-6 mt-5">
          <div class="row">
            <div class="col-6">
              <label class="form-label ">Insira seu peso (Em Kg)</label>
              <input type="number" class="form-control" [(ngModel)]="weight" name="weight">
            </div>
            <div class="col-6">
              <label class="form-label ">Insira sua altura (Em metros)</label>
              <input type="number" class="form-control" [(ngModel)]="height" name="height">
            </div>
          </div>
          <div class="col d-flex justify-content-center my-5">
            <button type="button" class="btn btn-primary" (click)="bmiOp()">Calcular</button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <img class="rounded border border-3 border-primary" style="width: 70px;" src={{img}}>
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-4 alert alert-primary mx-auto mh-75 mt-5" style="height: 125px;" role="alert">
              <p>IMC: {{bmi.toFixed(2)}}</p>
              <p>{{class}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
